<!DOCTYPE html>
<html lang="en">

</html>

<head>
    <meta charset="UTF-8">
    <title>Create Account</title>
    <style>
        /* General Reset */
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        /* Body Styling */
        body {
            font-family: "Arial", sans-serif;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            background: linear-gradient(135deg, #7f00ff, #e100ff);
        }
    </style>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
</head>

<body>
    <div class="container" id="main-content">
        <!-- Welcome Text Section -->
        <div class="welcome-section">
            <h1>Welcome to Smart Home</h1>
            <p>Manage and monitor your home smartly and securely. Control lighting, temperature, and security — all in
                one place.</p>
        </div>

        <!-- Register Form Section -->
        <div class="login-section">

            <h2>Create a New Account</h2>

            <form method="POST" id="register-form">
                <p id="error-message" class="error"></p>
                <input type="text" name="username" id="username" placeholder="Username" required>
                <input type="password" name="password" id="password" placeholder="Password" required>
                <button type="submit">Register</button>
            </form>
            <div class="ree">
                <a href="#" id="Back-to-login">Back to Login</a>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='register.js') }}"></script>
</body>

</html>